[Unit]
Description=uWSGI instance to serve amndeepcom
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/amndeepcom
Environment="PATH=/home/ubuntu/amndeepcom/amndeepcomenv/bin"
ExecStart=/home/ubuntu/amndeepcom/amndeepcomenv/bin/uwsgi --ini amndeepcom.ini

[Install]
WantedBy=multi-user.target
